h1{
    font-family: 'Saira Stencil One',cursive ;
    text-align : 'center';
    font-size: '62px' ;
    color: #0ccac4
}
body{
    background:to left, 
    rgba(7,27,82,1) 0%,
    rgba(0,128,128,1) 100%
}
